<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin_template :: common_head"></head>

<body>

	<nav th:replace="admin_template :: common_nav(settings)"></nav>

	<div class="container-fluid">
		<div class="row">
			<!-- sidebar -->
			<div th:replace="admin_template :: common_sidebar(settings)"></div>
			<!-- content -->
			<div class="col-md-10 col-sm-9 content">
				
				<div class="title">
					<h2>Configurações</h2>
				</div>
				
				<div class="lead text-center">
					Em construção
				</div>
			</div>
		</div>
	</div>
</body>
</html>