<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="web_template :: common_head"></head>

<body>

	<div class="container-fluid">
		<div class="row">
			<!-- content -->
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<div class="jumbotron">
					<h2>Bem vindo!</h2>
					<p class="lead">Para acessar sua conta, favor clicar no botão
						abaixo.</p>
					<p>
						<a class="btn btn-danger" href="/login"> <i
							class="glyphicon glyphicon-user"></i> Entrar
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>